---
import HtmlLogo from '@/icons/Html.astro'
import CssLogo from '@/icons/Css.astro'
import SassLogo from '@/icons/Sass.astro'
import BootLogo from '@/icons/Bootstrap.astro'
import LinkButton from './LinkButton.astro'
import GitHub from '@/icons/GitHub.astro'
import LinkIcon from '@/icons/Link.astro'
import ReactLogo from '@/icons/React.astro'
import TailLogo from '@/icons/Tailwind.astro'
import FireLogo from '@/icons/Firebase.astro'
import ReduxLogo from '@/icons/Redux.astro'
import SQLogo from '@/icons/SQLite.astro'
import AstroLogo from '@/icons/AstroLogo.astro'
import TypeSLogo from '@/icons/TypeS.astro'
import JavaSLogo from '@/icons/JavaS.astro'
import SvelteLogo from '@/icons/Svelte.astro'

const TAGS = {
    HTML :{
        name: 'HTML5',
        class: 'bg-[#e34f26]/70 text-white',
        icon: HtmlLogo,
    },
    CSS :{
        name: 'CSS',
        class: 'bg-[#0c73b8]/70 text-white',
        icon: CssLogo,
    },
    SASS:{
        name: 'SASS',
        class: 'bg-[#CF649A]/50 text-white',
        icon: SassLogo,
    },
    BootsTrap:{
        name: 'Bootstrap',
        class: 'bg-[#7E13F8]/50 text-white',
        icon: BootLogo,
    },
    React:{
        name: 'React',
        class: 'bg-[#00d7fc]/50 text-white',
        icon: ReactLogo,
    },
    Tailwind:{
        name: 'Tailwind',
        class: 'bg-[#00c7b6]/50 text-white',
        icon: TailLogo,
    },
    Firebase:{
        name: 'Firebase',
        class: 'bg-[#de3318]/50 text-white',
        icon: FireLogo,
    },
    Redux:{
        name: 'Redux',
        class: 'bg-[#7d42b8]/50 text-white',
        icon: ReduxLogo,
    },
    SQLite:{
        name: 'SQLite',
        class: 'bg-[#2f85cc]/50 text-white',
        icon: SQLogo,
    },
    Astro:{
        name: 'Astro',
        class: 'bg-[#ff6224]/50 text-white',
        icon: AstroLogo,
    },
    TypeS:{
        name: 'TypeScript',
        class: 'bg-[#3a73c2]/50 text-white',
        icon: TypeSLogo,
    },
    JavaS:{
        name: 'JavaScript',
        class: 'bg-[#eddf61]/50 text-white',
        icon: JavaSLogo,
    },
    Svelte:{
        name: 'Svelte',
        class: 'bg-[#ff441f]/50 text-white',
        icon: SvelteLogo,
    },
}



const PROJECTS = [
    {
        title: 'SuTu E-Commerce App',
        description: 'The app allows user to have an interaction whit an ecommerce, using functions like: shopping cart, login, customizable profile. There are lot of interactive functions like using google maps for a more precise way of having your adress, real time, currency changes as you set your country and more!',
        link: 'https://sutureactnative.netlify.app/',
        github:'https://github.com/Juliban27/SutuProtectoNative',
        image: '/projects/Ecommerce.webp',
        tags:[TAGS.React, TAGS.Tailwind , TAGS.Firebase , TAGS.Redux  , TAGS.SQLite, TAGS.JavaS]
    },
    {
        title: 'Spotify Clone',
        description: 'This web is a clone of Spotify, this web allows you to play some music along all the pages using persist, an effective volume control, a slider for the songs where you can play exactly the second you want to hear! Display the playlist as tables, and exquisite transitions between pages!',
        link: 'https://spotify-clone-roma.netlify.app/',
        github:'https://github.com/Juliban27/Spotify-Clone',
        image: '/projects/Spotify.webp',
        tags:[TAGS.React, TAGS.Tailwind , TAGS.Astro, TAGS.TypeS, TAGS.JavaS, TAGS.Svelte]
    },
    {
        title: 'SuTu',
        description: 'The site allows users to explore a wide range of tech products, such as computer components and peripheral. SASS enabled a scalable code structure, and Bootstrap ensured the design was adaptable',
        link: 'https://juliban27.github.io/SuTu/index.html',
        github:'https://github.com/Juliban27/SuTu',
        image: '/projects/SutuImage.webp',
        tags:[TAGS.HTML, TAGS.CSS, TAGS.SASS, TAGS.BootsTrap]
    },
]

---

<section class="flex flex-col gap-y-16">
    {
        PROJECTS.map(({title, description, image, tags, link, github}) => (
        <article class="text-white flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0 h-fit">
            <div class="w-full md:w-1/2 h-fit">
                <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
                    <img 
                        class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105 shadow-white/10"
                        src={image} 
                        alt={`Screenshot of the project ${title}`}
                        loading="lazy"
                    />
                </div>
            </div>

            <div class="w-full md:w-1/2 md:max-w-lg">
                <h3 class="text-2xl font-bold text-purple-200/90">{title}</h3>
                <div class="flex flex-wrap mt-2">
                    
                    <ul class="flex flex-row gap-x-2 pb-2 ">
                        {tags.map((tag) => (
                            <li>
                                <span class={`flex gap-x-1 rounded-full text-xs  ${tag.class} py-1 px-2`}>
                                    <tag.icon class="size-4"/>
                                    {tag.name}
                                </span>
                            </li>
                            
                        ))}
                    </ul>
                    <p class="mt-1 text-pretty">{description}</p>
                    <footer class="flex gap-x-2 pt-4">
                        <LinkButton class="gap-x-2" link={github}>
                            <GitHub class="size-4 md:size-6"/>
                            Source Code
                        </LinkButton>

                        <LinkButton class="gap-x-2" link={link}>
                            <LinkIcon class="size-4 md:size-6"/>
                            Web Site
                        </LinkButton>
                    </footer>
                </div>
            </div>
        </article>

        ))
    }
</section>